<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" >
  <form  class="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
      <input type="email" matInput placeholder="{{ 'login.emailPlaceHolder' | translate }}" formControlName="email">
      <mat-hint>{{ 'login.enterVAlidEmail' | translate }}</mat-hint>
      <mat-error>{{'login.errorValidEmail' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
      <input type="password" matInput placeholder="{{'login.passwordPlaceHolder' | translate }}" formControlName="password">
      <mat-hint>{{'login.enterValidPassword' | translate }}</mat-hint>
      <mat-error>{{'login.errorValidPassword' | translate }}</mat-error>
    </mat-form-field >
    <button class="form-control" *ngIf="!loadSpining" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">{{'login.submit' | translate}}</button>
    <mat-spinner *ngIf="loadSpining"></mat-spinner>
  </form>

</section>

<!-- <ol>
  <li>Add an email and password field (with Material Components of course)</li>
  <li>Add validation (email => required and email, password => required)</li>
  <li>Show errors and hints</li>
  <li>Make form submittable and disable button if invalid</li>
  <li>BONUS: Do all of that by using the reactive approach!</li>
</ol> -->
