<mat-nav-list>
  <mat-list-item>
    <button mat-button [matMenuTriggerFor]="menu">En/فا</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="onChangeDirection(lang)">{{ lang }}</button>
    </mat-menu>
  </mat-list-item>
  <a *ngIf="!status" mat-list-item routerLink="/signup" (click)="toCloseSidenave()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">{{'header.signup'| translate }}</span>
  </a>
  <a *ngIf="!status" mat-list-item routerLink="/login" (click)="toCloseSidenave()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">{{'header.login'| translate }}</span>
  </a>
  <a *ngIf="status" mat-list-item routerLink="/training" (click)="toCloseSidenave()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">{{'header.status'| translate }}</span>
  </a>
  <mat-list-item>
    <button *ngIf="status" mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">{{'header.logout'| translate }}</span>
    </button>
  </mat-list-item>
</mat-nav-list>
