.navigation-all{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navigation-item{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
a{
    text-decoration: none;
    color:white;
}
a:hover,
a:active{
    color: lightgray;
}

