<section class="container">
  <form id="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h3>{{ 'signup.welcomeMessage' | translate }}</h3>
    <p>{{ 'signup.enterEmail' | translate }}</p>
    <mat-form-field class="form-control">
      <input type="email" matInput placeholder="{{'signup.emailPlaceHolder' | translate }}: " ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">{{'signup.emailEmptyError' | translate }}</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">{{'signup.errorValidEmail' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-control" hintLabel="{{'signup.hintPassword' | translate }}">
      <input type="password" matInput placeholder="{{'signup.passwordPlaceHolder' | translate }} " ngModel name="password" required minlength="6" #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>{{'signup.errorValidPassword' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-control">
      <input matInput [matDatepicker]="picker" required placeholder="{{'signup.enterBirthday' | translate }}" [max]="maxDate" ngModel name="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox class="form-control" ngModel name="agree" required color="primary">{{'signup.agreeToTermsAndConditions' | translate }}</mat-checkbox>
    <button *ngIf="!loadingSpining" class="form-control" type="submit"  mat-raised-button color="primary" [disabled]="f.invalid">{{'signup.submit' | translate }}</button>
    <mat-spinner *ngIf="loadingSpining" class="spining-control"></mat-spinner>
  </form>
</section>
